.library-header
    background-image: linear-gradient(to bottom,#243b55, #243b5571 100%)
    background-position: top
    width: 100%
    // position: fixed
    margin-top: 0
    opacity: .9
    padding: 20px
    height: 140px
