<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/floating-button.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cute+Font&display=swap" rel="stylesheet">
    <title>Book</title>
</head>
<body>
<header class="header" style="position: relative">
    <div class="primary__heading-box">
        <span class="letter" data-letter="W">W</span>
        &nbsp;
        <span class="letter" data-letter="I">I</span>
        &nbsp;
        <span class="letter" data-letter="S">S</span>
        &nbsp;
        <span class="letter" data-letter="E">E</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="letter" data-letter="C">C</span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span class="letter" data-letter="L">L</span>
        &nbsp;
        <span class="letter" data-letter="U">U</span>
        &nbsp;
        <span class="letter" data-letter="B">B</span>
        <br>
    </div>
</header>
<section>
    <div class="read-more">
        <h4 class="read-more__primary-heading">Biggest Community for Book Lovers</h4>
        <div class="read-more__p-box">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptatem molestiae dolore, deleniti voluptatibus numquam inventore nemo. Expedita aspernatur id quisquam ullam nisi, enim placeat iste iusto veniam, eum nihil!
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint sit id molestias! Libero sit unde explicabo tempore minus, vero voluptate fuga accusamus dolorem incidunt, culpa tempora aliquam nobis id animi.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora consectetur error quam obcaecati vel, iusto dignissimos aliquid? Quas, repudiandae? Praesentium maxime architecto quo aut ullam, debitis libero quaerat necessitatibus ipsa!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit praesentium ipsum est beatae nemo, quis id blanditiis aliquid doloribus exercitationem illo sapiente rerum dolorem similique debitis ipsa iusto! Temporibus, totam?
            </p>
        </div>
        <a href="" class="btn-fire">Read More &rarr;</a>
    </div>
</section>
<!--<img src="/media/goku.jpeg" alt="" class="s">-->
<section>
    <div class="library-box">
        <div class="library">
            <h4 class="library-heading">Check Out Our Library</h4>
                <div class="Coral Coral-btn">
                    <a href="{% url 'library:library' %}" class="anchor-library">
                        <button class="float-button">Library &rarr;<span class="Coralwave1"></span><span class="Coralwave2"></span><span class="Coralwave3"></span></button>
                    </a>        
                </div>
            <img src="/static/LOGO7.png" alt="LOGO" class="home-lib-logo">
        </div>
    </div>
</section>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="crossorigin="anonymous"></script>
<script src="/static/js/parallex.js"></script>
</body>
</html>