.comment-box
    text-align: left
    .rating
        display: flex
        position: absolute
        left: 20px
        flex-direction: row-reverse
        input
            display: none
        label
            display: inline-block
            position: relative
            height: 37px
            width: 50px
            &::before
                text-align: center
                content: "\f005"
                position: absolute
                top: 0px
                color: lighten(grey, 20%)
                // text-shadow: 0px 5px 7px rgba(0, 0, 0, .5)
                width: 100%
                height: 100%
                font-size: 35px
                font-family: fontAwesome
            &::after
                text-align: center
                content: "\f005"
                position: absolute
                top: 0px
                color: yellow
                // text-shadow: 0 5px 10px rgba(0, 0, 0, .5)
                opacity: 0
                width: 100%
                height: 100%
                transition: all .4s
                font-size: 35px
                font-family: fontAwesome
        label:hover:after,
        label:hover ~label:after,
        input:checked ~ label:after
            opacity: 1
        .label0, .input0
            display: none

    .rating-head
        position: relative
        left: 30px
        font-size: 22px
        font-family: Lato
        background-image: $linear-gradient-frost
        -webkit-background-clip: text
        color: transparent
        margin: 20px 0px


    textarea
        padding: 30px
        margin-top: 80px
        border-radius: 80px
        outline: none
        border: 1px solid grey
        width: 55%
        white-space: pre-wrap
        height: 100px
        font-size: 20px
        color: darken(grey, 80%)
        font-family: Be Vietnam
        font-weight: 100
    .shelf-review-box
        display: inline-block
        position: relative
        top: -40px
        margin: 0px 60px
        &::after
            content: '\f078'
            font-family: "FontAwesome"
            font-size: 24px
            z-index: 1
            pointer-events: none
            color: white
            position: absolute
            top: 65px
            right: 27px
        h4
            text-align: center
            font-size: 22px
            font-family: Lato
            background-image: $linear-gradient-frost
            -webkit-background-clip: text
            color: transparent
            margin-bottom: 20px
        @include shelf-box()

.comment-box-heading
        padding: 0px 5px
        padding-top: 90px
        font-size: 50px
        text-align: left
        font-family: Chilanka
        background-image: $linear-gradient-frost
        -webkit-background-clip: text
        color: transparent

.my-review-head
    position: relative
    text-align: left
    font-family: Chilanka
    font-size: 45px
    padding-left: 5px
    margin-top: 70px
    background-image: $linear-gradient-frost
    -webkit-background-clip: text
    color: transparent

.previous-comment
    margin: 20px 0px
    display: flex
    img
        width: 80px
        display: inline-block
        margin-top: 3px
        height: 80px
        border-radius: 50%

    .previous-comment-text-box
        margin-left: 30px
        // background-image: linear-gradient(to right, #d9a7c7, #fffcdc)
        background-image: linear-gradient(to right, #4e54c8, #8f94fb)
        border-radius: 90px
        display: inline-block
        padding: 10px
        position: relative
        max-width: 80%
        font-family: Be Vietnam
        font-weight: 100
        font-size: 20px
        @include five_star()

        .previous-comment-text
            color: white
            text-align: left
            padding: 10px 30px
    .delete-review
        img
            width: 35px
            position: relative
            display: inline-block
            top: 45%
            transform: translateY(-50%)
            height: 45px

.btn-comment
    display: block
    padding: 20px 40px
    width: 150px
    margin: 30px 0px

.my-review
    text-align: left
    padding: 20px 5px
    
    .my-review-rating
        font-size: 30px
    .my-review-text
        font-size: 30px

