.layout__detail
    text-align: center

.detail-card
    // background-color: $color-greenery
    // background-image: linear-gradient(to right, #9796f0, #fbc7d4 )
    width: 100%
    border-radius: 10px
    padding: 30px
    padding-top: 50px
    // height: 800px
    margin: 0 auto
    .information
        display: flex
        img
            border: 0px
            max-width: 400px
            height: 500px
            margin-right: 50px
            flex-grow: 1
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7)
            border-radius: 4px

        .text-box
            text-align: center
            flex-grow: 1
            position: relative

            .text-box__heading--name
                padding-top: 50px
                display: inline-block
                font-family: Cormorant Garamond
                // font-family: Tangerine
                text-transform: capitalize
                background-image: $linear-gradient-royal
                -webkit-background-clip: text
                color: transparent
                // color: $color-grey-dark-3
                font-size: 5rem

            .by
                padding-top: 50px
                font-family: Tangerine
                font-size: 5rem
                background-image: linear-gradient(to right, $color-grey-1, $color-grey-2)
                -webkit-background-clip: text
                color: transparent

            .text-box__heading--author
                padding-top: 50px
                font-size: 4rem
                text-transform: capitalize
                color: $color-grey-dark-3
                font-family: Marck Script

            .add-to-shelf
                margin-top: 40px
                position: relative
                left: 25px
                @include shelf-box()
                &::before 
                    content: '\f078'
                    font-family: "FontAwesome"
                    font-size: 26px
                    z-index: 1
                    pointer-events: none
                    color: white
                    position: absolute
                    top: 25px
                    right: 455px
                .remove-book
                    cursor: pointer
                    top: 4px
                    font-family: "FontAwesome"
                    font-size: 49px
                    display: inline-block
                    position: relative
                    padding-top: 5px
                    z-index: 1
                    margin-left: 10px
                    color: lighten(grey, 25%)
                    font-style: normal
                    transition: all .2s
                    &:hover
                        color: lighten(grey, 15%)
                select
                    background-color: $color-greenery


.summary
    text-align: left
    h3
        font-size: 60px
        font-family: Tangerine
        letter-spacing: 1px
        color: lighten(black, 25%)
        // background-image: $linear-gradient-2
        // -webkit-background-clip: text
        // color: transparent

    .text
        width: 100%
        margin: 20px 0px
        font-style: Lato
        font-size: 28px
        // height: 500px
        // color: darkblue
        color: lighten(black, 22%)

