<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <title>Author</title>
</head>
<body class="author__detail__body">
    <main class="author__detail">
        <div class="author-detail">
            <img src="{{author.image}}" alt="" class="author__image">
            <div class="author__name">
                <h3 class="author__heading">{{author}}</h3>
            </div>
            <div class="author-information">
                <h3 class="about-author">About the author</h3>
                <p class="info">{{author.about|safe}}</p>
            </div>
        </div>
    </main>
</body>
</html>