{% extends 'home/base.html' %}
{% block body %}


<body class="book-detail">
{% include 'library/library-header.html' %}
<div class="model-back">
    <div class="model">
        <!-- <img src="/static/LOGO8.png" alt="" class="popup-img"> -->
        <!-- <h4 class="popup-head">Be The Member Of Amazing Wise Club</h4> -->
        <h4 class="popup-head">Login To Wise Club</h4>
        <a href="#" class="no close-svg"><img src="/static/close.svg" alt="" class="close"></a>
        <form action="{% url 'book:detail' slug=book.slug%}" class="form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input name="name" type="text" placeholder="Username" id="name" required class="form-input lib-login-username" autocomplete="off">
                <label for="name" class="label">Username</label>
            </div>
            <div class="form-group last-form-popup">
                <input name="password" type="password" placeholder="Password" id="password" required class="form-input" autocomplete="off">
                <label for="password" class="label">Password</label>
            </div>
            {% if error %}
            <div class="error-popup"><img src="/static/error_icon.png" alt="!"><span>Incorrect username or password</span></div>
            {%endif%}
            <div class="btn-box">
                <button class="btn-fire" id="btn5">Login &rarr;</button>
            </div>
        </form>
    </div>
</div>
<main style="padding: 110px 15px;position: absolute;top: 0px;box-sizing: border-box">
    <div class="layout__detail">
        <div class="detail-card">
            <div class="information">
                <img class="layout__item" src={{ book.image }} alt="IMAGE">
                <div class="text-box">
                    <h3 class="text-box__heading--name"><span class="span__name">{{book.title}}</span></h3>
                    <h3 class="by">By</h3>
                    <h3 class="text-box__heading--author"><span class="span__author">
                        {% for author in book.author.all %}
                            <a href="{% url 'author:author' slug=author.slug %}" class="btn-rotate">{{author}}</a>&nbsp;
                        {% endfor %}</span></h3>
                    <div class="add-to-shelf">
                        <select name="shelf" class="select-add-to-shelf" id="oldValueRef">
                            <option value="" selected disabled hidden>Add To Shelf</option>
                            {% for shelf in shelves %}
                            {% if shelf in book.shelf_set.all %}
                            <option value={{shelf.name}} selected>{{shelf.name}}</option>
                            {% else %}
                            <option value={{shelf.name}}>{{shelf.name}}</option>
                            {% endif %}
                            {% endfor %}
                            <option>Add new shelf</option>
                        </select>
                        <a href="{% url 'book:remove_from_shelf' book_id=book.book_id %}">
                            <i class="fas fa-times remove-book"></i>
                        </a>
                        <!-- <img class="drop-down" src="\static\drop-down.svg" alt=""> -->
                    </div>
                </div>
                <!-- <div style="clear: both"></div> -->
            </div>
            <div class="summary u-margin-top-medium">
                <h3>Summary</h3>
                <div class="text">
                    <span class="span__text">{{book.description|safe}}</span>
                </div>
            </div>
        {% if not review %}
        <div class="comment-box" style="position: relative">
            <form action="{% url 'book:review' slug=book.slug %}" method="POST" class="comment-form">
                {% csrf_token %}
                <h3 class="comment-box-heading">Write a review</h3>
                <h4 class="rating-head">My Rating</h4>
                <div class="rating">
                    <input type="radio" name="rating" id="star5" value="5"><label for="star5" class="star-label">
                    </label>
                    <input type="radio" name="rating" id="star4" value="4"><label for="star4" class="star-label">
                    </label>
                    <input type="radio" name="rating" id="star3" value="3"><label for="star3" class="star-label">
                    </label>
                    <input type="radio" name="rating" id="star2" value="2"><label for="star2" class="star-label">
                    </label>
                    <input type="radio" name="rating" id="star1" value="1"><label for="star1" class="star-label">
                    </label>
                    <input type="radio" class="input0" name="rating" id="star0" value="0" checked><label for="star0" class="star-label label0">
                    </label>
                </div>
                <textarea name="review" placeholder="Enter your review" class="review-input"></textarea>
                <div class="shelf-review-box">
                        <h4>Shelf Name</h4>
                    <select name="shelf" required>
                        <option value="" selected disabled hidden>Choose shelf</option>
                        {% for shelf in shelves %}
                        <option value={{shelf.name}}>{{shelf.name}}</option>
                        {% endfor %}
                        <option>Add new shelf</option>
                    </select>
                </div>
                <button class="btn-comment" type="submit">POST</button>
            </form>
        </div>
        {% else %}
        <h4 class="my-review-head">My Review</h4>
        <div class="previous-comment">
            <img src={{request.user.image}} alt="">
            <div class="previous-comment-text-box">
                <div class="my-review-rating">
                    {% for i in '12345' %}
                    {% if i == review.rating|slugify %}
                    <span class="noOfStar"></span>
                    {% else %}
                    <span></span>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="previous-comment-text">{{review.body|safe|linebreaks}}</div>
            </div>
            <a class="delete-review" href="{% url 'book:review_delete' book_id=book.book_id %}"><img src="\static\del.png" alt="delete"></a>
        </div>
        {% endif %}
            {% if similar_books %}
            <h4 class="detail-similar-books-heading">Similar Books</h4>
            {% endif %}
        <div class="flex_similar">
        {% for book in similar_books %}
            <a href="{% url  'book:detail' slug=book.slug%}">
            <div class="card">
                <img class="card__image" src={{book.image}} alt="IMAGE">
                <div class="details">
                    <div class="card__name"><span class="span__name">{{book.title}}</span></div>
                    <div class="card__author"><span class="span__author">{%for main_author in book.author.all|slice:":1"%}
                        - {{main_author}}
                        {% endfor %}</span></div>
                </div>
            </div>
            </a>
        {% endfor %}
        </div>
        <h3 class="comment-box-heading">Wise Community Reviews</h3>
        {{reviews|safe}}
        </div>
    </div>
</main>
{% include 'user/login_base.html' %}
<script>
    var oldValue;
    window.addEventListener('load', function(){
        oldValue = $('.select-add-to-shelf').val();
        // console.log('{{book_shelf|safe|length}}');
        if('{{book_shelf}}' == 0){
            console.log('{{book_shelf|safe}}');
            $('.remove-book').css({"opacity":0})
        }
    })
    $('.review-input').on('focus', function(e){
        $('.review-input')[0].style.height = "200px"
    })
    $('.review-input').on('focusout', function(e){
        $('.review-input')[0].style.height = "100px"
    })
    $('.select-add-to-shelf').on('change', funAddToShelf)
    $('.delete-review').on('click', funDeleteReview);
    $('.remove-book').on('click', funRemoveBook);
    function funDeleteReview(e){
        if(!confirm('This will delete the review and remove this book from your shelf do you wants to continue!'))
        {
            e.preventDefault();
        }
    }
    function funRemoveBook(e){
        if(!confirm('This will remove this book from your shelf do you wants to continue!'))
        {
            e.preventDefault();
        }
    }
    function funAddToShelf(){
        if(!confirm('Do you want to add this book to this shelf')){
            console.log(oldValue)
            $('.select-add-to-shelf').val(oldValue);
            return;
        }
        $.ajax({
            type: "POST",
            url: "{% url 'book:add_to_shelf'%}",
            data: {
                "book_id": '{{book.book_id}}',
                "shelf": $('.select-add-to-shelf').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success:function(output){
                oldValue =  $('.select-add-to-shelf').val();
                alert(output);
            }
        });
        $('.remove-book').css({"opacity":1})
    }
</script>
<style>
        #goodreads-widget{
            font-size: 20px;
        width: 100%;
        height: 1000px;
      }
      iframe{
    width: 100%;
    height: 1000px;
    background-color: #fff;
    }
    #goodreads-widget h1 {
    display: none;
  }
  #gr_footer {
    display: none;
  }
  #goodreads-widget .gr_branding{
    color: #382110;
    font-size: 20px;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
    </style>
</body>
{% endblock %}
